<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/styles.css" />
    <script
    src="https://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous" defer></script>
    <script src="/scripts/app.js" defer></script>
</head>
<body>

    <form id="form">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="year" placeholder="Release Year">
        <input type="text" name="genre" placeholder="Genre">
        <input type="text" name="director" placeholder="Director">
        <input type="submit"><button>Search</button>
    </form>
    
</body>
</html>


