<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Users List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/userList.css" />
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <header>
        <nav>
            <ul>
                    <a href="#"><li>My List</li></a>
                    <a href="/search"><li>Search Media</li></a>
                    <a href="/"><li>Log Out</li></a>
            </ul>
        </nav>
        <h1>See What Other Users Like</h1>
    </header>
    
</body>
</html>