@keyframes blur{
    from {
        filter: blur(30px);
    }
    to {
        filter:blur(0);
    }
}


h1 {
    animation-name: blur;
    animation-duration: 1.5s;
}


header h1{
    text-align: center;
    font-family: 'Nanum Gothic';
    font-size: 4em;
    letter-spacing: 0.5em;    
}


a:hover {
    color:#fff;
    text-shadow: 1px 1px white;
    padding: 5px 0;
}


main {
    height: 80vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.signUp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-image: url('/pictures/landingPageRight.jpg');
    background-size: cover;
    filter: brightness(90%)
}


.logIn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100vw;
    background-image: url('/pictures/landingPageLeft.jpg');
    background-size: cover;
    background-position: right;
}


a {
    text-decoration: none;
    font-family: 'Nanum Gothic';
    font-size: 2.5em;
    color: white;
}